{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2><a href="">{{ book.name }}</a></h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            {% endfor %}

        </div>
        <div>
{% for p in page.paginator.page_range %}
            {% if page.number == p %}
    <a href="?page={{ p }}">{{ p }}</a>
            {% elif p >= page.number|add:-1 and p <= page.number|add:1  %}
    <a href="?page={{ p }}">{{ p }}</a>
            {% endif %}
{% endfor %}

<!--{% if page.has_previous %}-->
<!--    <a class="button button-primary" href="?page={{ page.previous_page_number }}">⟵</a>-->
<!--{% endif %}-->
<!--<a class="button disabled" href="">{{ page.number }}</a>-->
<!--{% if page.has_next %}-->
<!--    <a class="button button-primary" href="?page={{ page.next_page_number }}">⟶</a>-->
<!--{% endif %}-->
</div>
    </div>
{% endblock %}